body{
  text-align: center;
}


#outer{
  margin: auto;
  text-align: left;
  width: 1024px;
}

#controls {
  border: 1px solid #2B8E00;
  background: #92ED6B;
  padding: 4px;

}

select {
  padding: 1px 0;
}
#container{
  margin: 12px;
  width: 1000px;
  height: 800px;
  position: relative;
}

.rectangle{
  width: 19px;
  border: 2px solid black;
  margin: 2px;
  position: absolute;
}

.clear{
clear: both;
}

.highlight{
  background: red;
}

.current{
  background: blue;
}

.current_j{
  background: purple;
}
